/* Ajustes gerais */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background: #F9A602;
}

/* Cabeçalho do site */
.site-header {
    display: flex;
}

.img-header {
    margin-top: 50px;
    margin-left: 100px;
}

.site-title {
    margin-left: 150px;
    padding: 0;
    color: #F0E0C0;
}

.site-subtitle {
    margin-left: 180px;
    color: #F0E0C0;
}

/* Barra de navegação */ 
.section-nav {
    border-radius: 25px;
    background: #2375F5;
    width: 450px;
    height:45px;  
    margin-top: 120px;
    margin-left: 800px;
    color: #F0E0C0;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 10px;
}

/* Conteúdo principal */
.site-article {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px;
}

.img-article {
    width: 300px;
    height: 300px;
}

.article-section {
    width: 750px;
    height: 300px;
    border-radius: 25px;
    background: #E81123;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.article-title {
    margin: 20px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: #F0E0C0;
}

.article-text {
    color: #F0E0C0;
    font-family: 'Fredoka One', cursive;
}

.site-footer {
    display: flex;
    justify-content: center;
}

.div-footer {
    border-radius: 100px;
    background: #F0E0C0;
    color:#000000;
    text-align: center;
    padding: 15px 0;
    margin-top: 3%;
    width: 1700px;
}

.author-name,
.author-email {
    margin-bottom: 5px;
}
