/* Variáveis */
:root {
    --background: #F9A602;
    --text-color: #F0E0C0;
    --nav-color: #2375F5;
    --background-card: #E81123;
    --box-shadow: #000000;
}

/* Ajustes gerais */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background: var(--background);
}

/* Cabeçalho do site */
.site-header {
    display: flex;
}

.img-header {
    margin-top: 50px;
    margin-left: 100px;
}

.site-title {
    margin-left: 150px;
    padding: 0;
    color: var(--text-color);
}

.site-subtitle {
    margin-left: 180px;
    color: var(--text-color);
}

/* Barra de navegação */ 
.section-nav {
    border-radius: 25px;
    background: var(--nav-color);
    width: 450px;
    height:45px;  
    margin-top: 120px;
    margin-left: 800px;
    color: var(--text-color);
}

.nav-list {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-top: 10px;
}

.nav-link {
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    color: var(--background); /* Efeito visual ao passar o mouse */
}

/* Conteúdo principal */
.site-article {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding: 10px;
}

.img-article {
    width: 300px;
    height: 300px;
}

.article-section {
    width: 750px;
    height: 300px;
    border-radius: 25px;
    background: var(--background-card);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.article-title {
    margin: 20px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: var(--text-color);
}

.article-text {
    color: var(--text-color);
    font-family: 'Fredoka One', cursive;
}

.site-footer {
    display: flex;
    justify-content: center;
}

.div-footer {
    border-radius: 100px;
    background: var(--text-color);
    color: var(--box-shadow);
    text-align: center;
    padding: 15px 0;
    margin-top: 3%;
    width: 1700px;
}

.author-name,
.author-email {
    margin-bottom: 5px;
}

/* Media queries para diferentes tamanhos de tela */
@media (max-width: 767px) {
    /* Estilos para celulares */

    .site-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }

    .section-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .section-nav {
        border-radius: 25px;
        background: var(--nav-color);
        width: 400px;
        height: 45px;
        margin-top: 120px;
        margin-left: -0px;
        color: var(--text-color);
    }

    .site-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-xicrinho {
        width: 400px;

    }

    .img-caneco {
        width: 300px;

    }

    .article-section {
        width: 80%;
        height: 650px;

    }

    .div-footer {
        width: 200rem;
        color: var(--box-shadow);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */

    body {
        display: flex;
        align-items: center;
    }

    .site-header {
       display: flex;
       flex-direction: column;
    }

    .section-nav {
        margin-left: 500px;
        margin-right: 30px;
        margin-top: 50px;
        width: 300px;
        margin-top: -150px;
    }

    .site-article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-xicrinho {
        width: 250px;
        margin-left: 50px;
    }

    .img-caneco {
        width: 200px;
        margin-left: 50px;
    }

    .article-section {
        width: 600px;
        height: 350px;
        margin-left: 50px;
    }

    .div-footer {
        width: 700px;
        margin-bottom: 0px;
    }
}
